{% extends 'base.html.twig' %}

{% block title %}All Product List!{% endblock %}

{% block body %}
    <h1>All Product List</h1>
    <p>Lorem ipsum..</p>

    <table class="table table-bordered" style="vertical-align: middle;">
        <thead>
            <tr>
                <th class="text-center" width="1%">#</th>
                <th>Name</th>
                <th class="text-right">Amount</th>
                <th width="1%">Quantity</th>
                <th width="1%"></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-center">{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td class="text-right">$ {{ product.amount }}</td>
                    <td>
                        <input id="add-basket-product-quantity-{{ product.id }}" type="text" class="form-control" />
                    </td>
                    <td class="text-center">
                        <input data-product-id="{{ product.id }}" class="btn btn-success add-basket-product-item" type="button" value="Add">
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("basket") }}
{% endblock %}
