{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h3>All Products <a class="btn btn-warning btn-sm" href="{{ path('admin.index') }}">Dashboard</a></h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Name</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td class="text-center">{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('admin.product.product_show', {'id': product.id}) }}">Show</a>
                    <a class="btn btn-info btn-sm" href="{{ path('admin.product.product_edit', {'id': product.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary btn-sm" href="{{ path('admin.product.product_new') }}">Create new</a>
{% endblock %}
