{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h3>Product Show</h3>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ product.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark btn-sm" href="{{ path('admin.product.product_index') }}">back to list</a>

    <a class="btn btn-info btn-sm" href="{{ path('admin.product.product_edit', {'id': product.id}) }}">Edit</a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
