{% extends 'base.html.twig' %}

{% block title %}All Product List!{% endblock %}

{% block body %}
    <h1>MY Basket</h1>
    <p>Lorem ipsum..</p>

    {% if orderProducts | length > 0 %}
        <table class="table table-bordered" style="vertical-align: middle;">
            <thead>
                <tr>
                    <th class="text-center" width="1%">#</th>
                    <th>Name</th>
                    <th width="1%">Quantity</th>
                    <th width="1%">Amount</th>
                    <th class="text-right bg-warning" width="1%">Total Amount</th>
                    <th width="1%"></th>
                </tr>
            </thead>
            <tbody>
                {% set total_amount = 0 %}
                {% for key, orderProduct in orderProducts %}
                    {% set i = key + 1 %}
                    {% set total_amount = total_amount + orderProduct.total_amount %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ orderProduct.name }}</td>
                        <td class="text-right">$ {{ orderProduct.amount }}</td>
                        <td class="text-center">{{ orderProduct.quantity }}</td>
                        <td class="text-right bg-warning">$ {{ orderProduct.total_amount }}</td>
                        <td>
                            <form class="d-inline-block" method="post" action="{{ path("index.order_delete", { "id": orderProduct.id }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token("delete" ~ orderProduct.id) }}">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="panel panel-body float-right">
            <p><b>Total Amount :</b> $ {{ total_amount }}</p>
            <a href="{{ path('index.order_cart') }}" class="btn btn-success float-right">Goto Cart</a>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>!Alert</strong>
            <p>There are no items in your cart.</p>
            <a class="btn btn-danger" href="/">Go to back</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("basket") }}
{% endblock %}
